%p
  Build Notifier has received a request to reset the password for the account associated with this email address.
  To continue and reset your password, please click
  = link_to 'this link', claim_password_reset_url(@reset, @reset.code)
  or paste the following URL into your browser.

%p
  = link_to claim_password_reset_url(@reset, @reset.code), claim_password_reset_url(@reset, @reset.code)

%p
  If you didn't request a password reset on Build Notifier, then you can just ignore this email.
